#loginForm {
  padding: 30px;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 4px 4px 15px #295D73;
  background: white;
}

#emailLogin {
  margin-bottom: 16px;
}

#connectButton {
  margin-top: 30px;
  background: rgb(63, 135, 166);
  padding: 10px;
  border-radius: 20px;
  outline: 0px;
  border: rgb(63, 135, 166);
  color: white;
  width: 230px;
}

#connectButton:hover {
  background: #295D73;
}
